/**
 * @file
 */
.block-plixum {
  position: relative;
}

.plixum-image-left .plixum-image {
  float: left; /* LTR */
  margin: .5em 1.5em 2em 0; /* LTR */
}

.plixum-image-right .plixum-image {
  float: right; /* LTR */
  margin: .5em 0 2em 1.5em; /* LTR */
}

.plixum-image-absolute {
  padding: 1em 1.5em;
}

.plixum-image-absolute .plixum-body {
  position: relative;
  z-index: 1;
}

.plixum-image-absolute .plixum-image {
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

/**
 * Sample styling.
 */
.block-plixum figure {
  margin: 0 0 1em;
}
