/**
 * @file
 */
ul.plixum-image-list li {
  display: inline-block;
  list-style: none;
  width: 80px
}

ul.plixum-image-list li a {
  display: block;
  height: 80px;
  outline: none;
  width: 80px;
}

ul.plixum-image-list li a.selected {
  opacity: .5;
}

ul.plixum-image-list li a img {
  border: 2px solid transparent;
}

ul.plixum-image-list li a:hover img,
ul.plixum-image-list li a.active img {
  border: 2px solid lime;
}

ul.plixum-image-list li a.current img {
  border: 2px solid red;
}

#edit-plixum-settings .form-item-plixum-path,
#edit-plixum-settings .form-type-select {
  display: inline-block;
  margin-right: -4px;
  width: 33.333%;
}

#edit-plixum-settings .form-text {
  max-width: 100%;
}

#plixum-button {
  float: right;
  margin-top: -10px;
}

div.plixum {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 5px;
  padding: 1em;
  -moz-transition: background-color 0s linear 0.5s, box-shadow .5s linear, border-radius .5s ease;
  -ms-transition: background-color 0s linear 0.5s, box-shadow .5s linear, border-radius .5s ease;
  -o-transition: background-color 0s linear 0.5s, box-shadow .5s linear, border-radius .5s ease;
  -webkit-transition: background-color 0s linear 0.5s, box-shadow .5s linear, border-radius .5s ease;
  transition: background-color 0s linear 0.5s, box-shadow .5s linear, border-radius .5s ease;
}

div.plixum-hover {
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  cursor: pointer;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
